body {
    background-color: hsl(330, 64%, 85%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-left: 75px;
}
ol {
  font-size: 30px;
  margin-left:6rem;
  margin-right:6rem;
  line-height: 4rem;
}

img {
    border-radius: 50%;
  }

h1 {
    font-size: 5rem; /* Equivalent to text-4xl in tailwindcss */
    font-family: "Garamond", "Times New Roman", serif;
    margin-top: 2rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 3rem; /* Equivalent to my-4 in tailwindcss */
    line-height: 2.5rem;
    text-align: center
}
h2 {
    font-size: 45px; /* Equivalent to text-4xl in tailwindcss */
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 2rem; /* Equivalent to my-4 in tailwindcss */
}
p {
    font-size: 35px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
  .text-container {
    font-size: 2.25rem; /* Equivalent to text-4xl in tailwindcss */
    font-family: "Garamond", "Times New Roman", serif;
    margin-top: 1rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 1rem; /* Equivalent to my-4 in tailwindcss */
    line-height: 2.5rem; /* Equivalent to leading-relaxed in tailwindcss */
  }
  
  .text-container-two {
    font-size: 2.25rem; /* Equivalent to text-4xl in tailwindcss */
    font-family: "Garamond", "Times New Roman", serif;
    margin-top: 1rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 1rem; /* Equivalent to my-4 in tailwindcss */
    line-height: 1rem; /* Equivalent to leading-relaxed in tailwindcss */
  }
  
  .centered-container {
    display: flex;
    font-size: large;
    font-family: "Monaco", "Times New Roman", serif;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    height: 100vh;
    margin: 0;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .github-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #1c77d9; /* Set the color as needed */
    text-decoration: none;
  }
  .topnav {
    background-color: #ff83cb;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 70px 20px 70px;
    text-decoration: none;
    font-size: 30px;
  }
  .topnav a:hover {
    background-color: #efefef;
    color: black;
  }