body {
    background-color: hsl(330, 64%, 85%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 20px;
    width: 500px;
    height: 500px;
  }

h1 {
    font-size: 5rem; /* Equivalent to text-4xl in tailwindcss */
    font-family: "Garamond", "Times New Roman", serif;
    margin-top: 2rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 3rem; /* Equivalent to my-4 in tailwindcss */
    line-height: 2.5rem;
    text-align: center
}
h2 {
    font-size: 45px; /* Equivalent to text-4xl in tailwindcss */
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem; /* Equivalent to my-4 in tailwindcss */
    margin-bottom: 2rem; /* Equivalent to my-4 in tailwindcss */
    text-align: center
}
p {
    font-size: 35px;
    font-family: "Garamond", "Times New Roman", serif;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
  .topnav {
    background-color: #ff83cb;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-size: 30px;
  }
  .topnav a:hover {
    background-color: #efefef;
    color: black;
  }
  .grid {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-content: space-around; */
    padding: 40px;
    width: 90%;
    /* height: 80vh; */
    border: 5px solid white;
    border-radius: 25px;
    margin: 60px auto;
  }
  .item1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .item2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .item3 {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .item4 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .item5 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .item6 {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .item7 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .item8 {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .item9 {
    grid-column-start: 3;
    grid-row-start: 3;
  }